html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.modelSlider {
  position: absolute;
  
  bottom: -680px;




  transform: rotate(90deg);
}

.amountSlider {
  position: absolute;
  bottom: -680px;
  left: 200px;
  transform: rotate(90deg);
}

.amountXSlider {
  position: absolute;
  bottom: -680px;
  left: 20000px;
  transform: rotate(90deg);
}

.cubeRotateXSlider {
  position: absolute;
  bottom: -680px;
  left: 510px;
  transform: rotate(90deg);
}

.cubeRotateYSlider {
  position: absolute;
  bottom: -680px;
  left: 500px;
  transform: rotate(90deg);
}

.cubeRotateYSlider {
  position: absolute;
  bottom: -680px;
  left: 600px;
  transform: rotate(90deg);
}

.scaleSlider1 {
  position: absolute;
  bottom: -680px;
  left: 800px;
  transform: rotate(90deg);
}

.animatebutton {
  position: absolute;
  bottom: -10px;
}